@import "~bootstrap/scss/bootstrap";

.navbar {
  .navbar-brand {
    flex-grow: 1;
    color: white;
    font-family: cursive;
    font-size: 30px;
    padding-left: 10px;
  }
  .mr-auto {
    justify-content: center;
    .nav-link {
      color: white;
    }
  }
  .navbar-nav:last-child {
    margin-left: auto;
    .nav-link {
      color: white;
    }
  }
}

