.welcome-main {
  padding-top: 70px;
  background-image: url("../../Images/blackbg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* background-attachment: fixed; */
  /* filter: blur(2px); */
}